.main {
  display: grid;
  grid-template-columns: 20% 60% 20%;

  margin: 0 auto;
  padding: 8px;

  max-width: 187em;

  border: 1px solid #efefef;
  background-color: #fff;
}

.main_container {
  margin: 4px;

  border: 1px solid #efefef;
  border-radius: 4px;

  background-color: #efefef;
}

.main_container_menu {
  height: 200vh;
}

header {
  position: -webkit-sticky;
  position: sticky;
}

.window__InnerSize {
  color: white;
  font-size: large;
  position: fixed;
  bottom: 1rem;
  right: 0.5rem;

  padding: 0.5rem;
}
