.menu {
  height: 200vh; 
  border-right: 1px solid #efefef;
}

/*to-do*/
.menu * {
  background-color: transparent;
  padding-bottom: 0.25rem;
}

/*to-do*/
.overlay-content {
  position: relative;
  margin-top: 3.5rem;
  height: 100%;
  width: 100%;
}

.menu__overlay a {
  font-size: 0.7rem;
  text-decoration: none;
  display: block;
  padding: 0.125rem 0;
  color: #ccc;
  transition: all 500ms ease-out;
}

/*to-do*/
.menu__overlay button {
  font-size: 0.8rem;
  text-decoration: none;
  display: block;
  padding: 0.125rem 0;
  color: #ccc;
  transition: all 500ms ease-out;
  border-width: 0;
}

.menu .overlay-content button:hover,
.menu .overlay-content button:focus {
  padding-left: 0.45rem;
  color: red;
  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );

  transition: 500ms;
}

.menu .overlay-content button:focus {
  padding-left: 0.45rem;
  color: rgb(74, 126, 77);
  background: linear-gradient(
    to right,
    rgba(15, 80, 2, 0.1) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );

  transition: 500ms;
}

.menu li.active > a {
  color: #333;
  font-weight: 500;
  padding-left: 0.25rem;
  transition: all 200ms ease-in;
}

.menu li.unactive > a {
  padding-left: 0px;
  transition: all 500ms ease-out;
}

.menu .overlay-content a:hover,
.menu .overlay-content a:focus {
  padding-left: 0.45rem;
  color: red;
  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  border-radius: 2px;
  transition: 500ms;
}

@media only screen and (max-width: 343px) {
  .menu {
    height: auto;
  }

  .menu * {
    background-color: transparent;
    padding-bottom: 0.1rem;
  }

  .menu__overlay {
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0.5) 100%
    );
  }

  .menu__overlay a {
    font-size: 0.75rem;
  }

  .menu .overlay-content a:hover,
  .menu .overlay-content a:focus {
    background: linear-gradient(
      to right,
      rgba(255, 0, 0, 0.1) 0%,
      rgba(255, 255, 255, 0.5) 100%
    );
    border-radius: 2px;
    transition: 500ms;
  }
}

.links-list,
.menu__unordered-list,
.menu__ordered-list,
.character__summary_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.links-list__item,
.menu__item {
  margin-left: 1rem;
}

.links-list__item__link,
.menu__link {
  color: #666;
  text-decoration: none;
  display: block;
  padding: 0.125rem 0;
  transition: all 0.5s;
}

.links-list__item__link:hover,
.links-list__item__link:focus {
  color: red;
  font-weight: 450;
  padding-left: 0.25rem;
  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  border-radius: 2px;
}
